:root{
    font-size: 62.5%;
    --primary-color: #ccc;
    --secondary-color: #5b49c1d4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:;
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.mainHeader{
    background-image: url(imagens/bg-2.jpg);
    height: 50rem;
    background-size: cover;
    background-position: right center;
    padding-top: 1px; 
}

.mainHeader-nav ul{
    display: flex;
    justify-content: end;
    gap: 1.6rem;
    margin-right: 1.6rem;
}

.mainHeader-nav li{
    list-style-type: none;
}
.mainHeader-nav a{
    text-decoration: none;
    font-size: 1.6rem;
    background-color: rgb(84, 81, 81);
    padding: .5em;
    color: var(--primary-color);
    border-radius: .4rem;
    transition: all .2s ease;
    margin-top: 1.2rem;
    margin-right: 2rem;
    display: block;
}


.mainHeader-nav a:focus, .mainHeader-nav a:hover{
    background-color: rgb(42, 37, 37);
    padding: .3rem;
}

.mainHeader-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}

.mainHeader-title h1{
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: .4rem .4rem .4rem black;
    padding: 2rem;
    margin-top: 6rem;
}

.mainHeader-title p{
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, .7);
    padding: .9rem;
    border-bottom: 2px solid white;
}

.content{
    background-image: linear-gradient(to right, var(--secondary-color), transparent);
    padding: 2rem;
    font-size: 1.4rem;
}

.content-explanation{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    background-color: #d2d2d2;
    padding: 2rem;
}

.content-title{
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
}

.content-explanation p{
    line-height: 1.6;
}

.content-explanation a{
    padding: 1rem;
    background-color: var(--secondary-color);
    display: block;
    width: fit-content;
    margin-top: 2rem;
    margin-left: auto;
    border-radius: .9rem;
    color: var(--primary-color);
    text-decoration: none;
}

.content-explanation a:focus, .content-explanation a:hover{
    background-color: blueviolet;
    padding: 1.6rem;
}

.baseboard{
    padding: 1rem;
    text-align: center;
    background-color: blueviolet;
    color: var(--primary-color);
}


